<div class="webpage">
  <nav>
    <div class="navbar">
      <div class="logo">
        <img src="../assets/images/logo/Unic.png" alt="The Uni Clothes" height="70px" width="70px">
      </div>
      <div class="links">
        <a [routerLink]="['']">HOME</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          CATEGORIES
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ng-container *ngFor="let category of categories">
            <li><a class="dropdown-item" [routerLink]="['/categories',category]" >{{category}}</a></li>
          </ng-container>
        </ul>
      </li>
      <div class="cart-div" #cartdiv>
      <a [routerLink]="['cart']"><img src={{cartPath}} alt="your cart" class="cart-img" ></a>
      </div>
      </div>
    </div>
  </nav>
      <button class="sidebar-toggle" (click)="sidebarToggle()">&#9776; </button>
      <div class="sidebar-nav" #sidebar>
        <img src="../assets/images/logo/Uniclothes.png" alt="The uni clothes">
        <a [routerLink]="['']" (click)="sidebarToggle()">HOME</a>
        <li>CATEGORIES: </li>
        <ng-container *ngFor="let category of categories">
          <a [routerLink]="['/categories',category]" (click)="sidebarToggle()">{{category}}</a>
        </ng-container>
      </div>
  <div class="nav-700">
    <div class="filler"></div>
    <div class="logo">
      <img src="../assets/images/logo/Unic.png" alt="The Uni Clothes" height="70px" width="70px">
    </div>
    <div class="cart-div" #cartdivagain>
      <a [routerLink]="['cart']"><img src={{cartPath}} alt="your cart" class="cart-img" ></a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
